absl-py
ftfy
gdown
gym
hydra-core
imageio
imageio-ffmpeg
kornia
matplotlib
meshcat
numpy
opencv-python
pybullet
pytorch_lightning
regex
scikit-image
scipy
tdqm
torch
torchvision
transformers
transforms3d
wandb
